<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Line Awesome Icons -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='layout.css') }}">
    <!-- Any additional headers that might be needed for the body -->
    {% block headvar %}
    {% endblock headvar %}


    {% if title %}
        <title>Yes - {{ title }}</title>
    {% else %}
        <title>No</title>
    {% endif %}

</head>

<body style="background: whitesmoke">
{% block contentvar %}
{% endblock contentvar%}

<!-- Fixed bottom navigation -->
<div class="fixed-bottom" style="background: black">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-md">
                    <!-- Navbar Menu -->
                    <a class="navbar-brand" href="{{ url_for('index') }}">BryanBar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" style="background: green" data-target="#menuNav">
                        <span><i class="las la-chevron-up"></i></span>
                    </button>
                    <!-- Navbar Menu Contents -->
                    <div class="collapse navbar-collapse" id="menuNav">
                        <ul class="navbar-nav">
                            <li class="nav-item mx-auto">
                                <a class="nav-link" href="#">Home</a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link" href="#">About</a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link" href="#">Projects</a>
                            </li>
                            <li class="nav-item mx-auto">
                                <a class="nav-link" href="#">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>



<!-- Load an icon library -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
